<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Simulation3 Simulation Data</h1>
    <p>

      <h2>Simulation3 Data</h2>
      <table width = "1500">

        <tr>
          <th>AA</th>
          <td align = "center"><%=items.output.AA%></td>
          <th>BB</th>
          <td align = "center"><%=items.output.BB%></td>
          <th>CC</th>
          <td align = "center"><%=items.output.CC%></td>
          <th>DD</th>
          <td align = "center"><%=items.output.DD%></td>
          <th>EE</th>
          <td align = "center"><%=items.output.EE%></td>
      </table>
      
        

  </body>
</html>
