<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>
   <meta charset='utf-8'>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="/javascripts/jquery-2.2.3.min.js"></script>
   </head>
<body>
   <h1><%= title %></h1>
   <form id="simulation2_input" action="/simulation2_output" method="post" onClick = "onbtnSearch()" onSubmit = "onWriteSubmit()" >
   <table>   
   	<% 
   	var item = new Array();
   	for(var i=0; i<items.length; i++){
   		item[i] = items[i];
    }
    %>

    <% for(var i=0; i<items.length; i++){
    	%><tr>
            <th><font color = "red">*</font><%=items[i]%></th>
            <td><input type="text" name="<%=item[i]%>" id="<%=item[i]%>" size="30" maxLength="20" required></td>
        </tr><% 
    }%>
      
         <tr>
            <td colspan="2">
               <div style="text-align:right;">
               <input type="submit" id="btnSearch" name="search" value="search" onClick = "onbtnSearch();" > 
               <input type="reset" name="cancel" value="cancel">
               </div>
            </td>
         </tr>

      </table>
   </form>
   <script>
   function onBtnSearch()
   {
   	$("#btnSearch").click(function() {
   		console.log("submit");
   		$("#simulation2_output").submit();
   	});
   }
   </script>
</body>
</html>