<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Simulation2 Simulation Data</h1>
    <p>

      <h2>Simulation2 Data</h2>
      <table width = "1500">

        <tr>
          <th>aa</th>
          <td align = "center"><%=items.output.aa%></td>
          <th>bb</th>
          <td align = "center"><%=items.output.bb%></td>
          <th>cc</th>
          <td align = "center"><%=items.output.cc%></td>
          <th>dd</th>
          <td align = "center"><%=items.output.dd%></td>
          <th>ee</th>
          <td align = "center"><%=items.output.ee%></td>
      </table>
      
        

  </body>
</html>
